# The .htaccess file is a configuuration file for the Apache web server
# It allows us to change the web servers settings, apply caching
# Specify error files, password protect directories, etc.

ErrorDocument 404 /chri0153/404.html
ErrorDocument 404 /chri0153/404.html

#Setup environment variables for connecting to the database

SetEnv DB_USER root	
SetEnv DB_PASS 
SetEnv DATA_SOURCE mysql:host=localhost;dbname=chri0163 